site_name: 我的技术知识库
site_url: https://0richalcos.github.io/Note/
repo_url: https://github.com/0richalcos/Note
edit_uri: edit/main/Markdown/ 

# 关键配置：指定你的笔记所在的文件夹名字
docs_dir: 'Markdown' 

theme:
  name: material
  language: zh
  features:
    - navigation.top        
    - navigation.tabs       
    - navigation.indexes    
    - navigation.tracking   
    - toc.integrate         
  palette: 
    - scheme: default
      primary: teal         
      toggle:
        icon: material/brightness-7
        name: 切换深色模式
    - scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: 切换亮色模式

# 必装插件
plugins:
  - search
  - awesome-pages:         
      filename: .pages
      collapse_single_pages: true

# Markdown 渲染增强
markdown_extensions:
  - admonition             
  - pymdownx.details       
  - pymdownx.highlight     
  - pymdownx.superfences   
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg